// FONTAWESOME
.fa,
.fas,
.fab {
    font-size: 25px;
    margin-right:.5em;
    @media (min-width:$mob-xl-min){
        margin-right:0;
    }
}

.fa-star {
    font-size: 8px
}

.fa-trash-alt{
    font-size:15px;
}

.fa-times-circle{
    font-size:15px;
}

.fa-exclamation-triangle{
    color:$bg-bis;
    margin-left: .5em;
}

// BACKGROUND
.bg-light{
    background: $bg-light;
}
.bg-sec{
    background: $bg-sec;
}
.bg-sec-light{
    background: $bg-sec-light;
}
.bg-bis{
    background: $bg-bis;
}

// SPECIAL RESPONSIVE
.sm-hide {
    display: none;
    @media (min-width:$mob-xl-min) {
        display: inline;
    }
}

// LINKS
.linkIco {
    color: #FFFEDC;
    text-decoration: none;
}

.linkIco:hover {
    color: #D2D2D2;
    text-shadow: 0px 0px 15px #FE5551;
}