// RESPONSIVE BREAKPOINTS
$mob-md-min:576px;
$mob-md-max:767px;
$mob-xl-min:768px;
$mob-xl-max:991px;
$tab-min:992px;
$tab-max:1199px;
$desk-min:1200px;
$desk-max:1399px;
$desk-xl-min:1400px;
//COLORS
$bg-light: #EDF2F4;
$bg-sec: #2a2a2a;
$bg-sec-light: rgba(1, 1, 1, 0.53);
$bg-bis: #FE5551;
$clr-light:#FFFEDC;