#section-basket{
    @media(min-width:$mob-xl-min){
        width:700px;
        margin: 1em auto;
    }
    & #box-products{
        margin: 1em;
        padding:.4em;
        border-radius: 10px;
        background: $clr-light;
        @media(min-width:$mob-xl-min){
            width:600px;
            margin: 1em auto;
        }
        & h2{
            text-align: center;
            background: $bg-sec;
            color: $bg-light;
            border-radius: 5px;
        }
        & .line,& .line-total{
            @include flex-mix($content:space-between,$items:center,$flow: row nowrap);
            background: $bg-light;
            width:100%;
            margin: auto;
            border: 1px solid #f9f9f9;
            & p:nth-child(1){
                width: 10%;
                color:$bg-bis;
                @include flex-mix($content:center,$items:center);
                & img{
                    width:100%;
                    margin-left: 1em;
                }
            }
            & p:nth-child(2){
                width: 20%;
                & img{
                    width:100%;
                }
            }
            & p:nth-child(3){
                width: 50%;
                padding-left: 1em;
            }
            & p.style_valid{
                text-align: end;
                margin-right: 1em;
            }
            & p:nth-child(4){
                width: 20%;
                text-align: end;
                padding-right: 1em;
            }
        }
        & .line-total{
            & p:nth-child(1){
                display:block;
                width: 40%;
                padding-left: 1em;
                color:#2a2a2a;
            }
            & p:nth-child(2){
                width: 60%;
                text-align: end;
                padding-right: 1em;
            }
        }
    }
    & #box-form{
        margin: 1em;
        padding:.4em;
        border-radius: 10px;
        background: $clr-light;
        @media(min-width:$mob-xl-min){
            width:600px;
            margin: 1em auto;
        }
        & h2{
            text-align: center;
            background: $bg-sec;
            color: $bg-light;
            border-radius: 5px;
        }
        & p{
            padding: 1em;
            border: 1px solid $bg-bis;
            background: rgba(0,200,0,.2);
            border-radius: 10px;
        }
        & form{
            width:75%;
            margin: auto;
            text-align: center;
            & .msError{
                & p{
                    background: rgba(200,0,0,.2);
                }
            }
            & .group{
                margin-bottom: 1em;
                & label{
                    display:block;
                    width:100%;
                    margin-bottom: .2em;
                    text-align: start;
                }
                & .noValid{
                    font-size: .6em;
                    background: rgba(200,0,0,.2);
                    padding: .2em;
                }
                & input{
                    width:100%;
                }
            }
            & button {
                background: $bg-bis;
                color:#f9f9f9;
                border-radius:25px;
                padding: 0.5em 1em;
                margin: 1em auto;
                border: unset;
                box-shadow: 0 0 10px #2a2a2a ;
            }
            & button:active {
                transform: scale(.9);
            }
        }
    }
}