#addOk{
    @include flex-mix($content:center,$items:center);
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    z-index: 98;
    background: rgba(0,0,0,0.7);
    & div{
        @include flex-mix($content:center,$items:center);
        background: #fff;
        width: 250px;
        height: 100px;
        border-radius: 10px;
        & i{
            position: absolute;
            margin-left: 220px;
            padding-bottom: 60px;
            color: $bg-bis;
            cursor: pointer;
            z-index: 99;
        }
        & p{
            font-size: 1em;
        }
    }
}